@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

.sidebar {
    font-family: "Roboto", sans-serif;
    position: fixed;
    z-index: 999;
    height: 100%;
    right: 0;
    .sidebarContainer {
        height: 100%;
        background-color: #fff;
        .sidebarWrapper {
            margin: 0px 100px 0px 10px;
            padding-right: 30px;
            padding-top: 40px;
            height: 100%;
            width: 100%;
            .sidebarHeader {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .sidebarFirstHeader {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    span {
                        #filterLabel {
                        }
                        #clearLabel {
                        }
                    }
                }
                .sidebarSecondHeader {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 20px;
                    cursor: pointer;
                    svg {
                        font-size: 25px;
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
            .sidebarFilter {
                @extend .flex-col;
                gap: 15px;
                .parkingNumber {
                    @extend .flex-col;
                    span {
                    }
                    #parkingNumberInput {
                    }
                }
                .district {
                    @extend .flex-col;
                    span {
                    }
                    #districtInput {
                    }
                }
                .locationArea {
                    @extend .flex-col;
                    span {
                    }
                    #locationNameInput {
                    }
                }
                .parkingDescriptionArea {
                    @extend .flex-col;
                    span {
                    }
                    #parkingDescriptionInput {
                    }
                }
                .workingHourArea {
                    @extend .flex-col;
                    span {
                    }
                    #workingHourInput {
                    }
                }
                .capacityArea {
                    @extend .flex-col;
                    span {
                    }
                    #capacityInput {
                    }
                }
            }
            .sidebarSubmit {
                @extend .flex-col;
                #submitButton {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 25px;
                }
            }
            .sidebarClear {
                @extend .sidebarSubmit;
                #clearLabel {
                    font-family: "Roboto", sans-serif;
                    font-weight: 600;
                    font-size: 25px;
                }
            }
        }
    }
}

.flex-col {
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    background-color: rgb(222, 222, 222);
    border-radius: 5px;
    padding: 10px;
}
span {
    font-size: 25px;
}
button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    transform: translateX(300px);
}
.show {
    transform: translateX(0px);
}
